{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "indent": ["error", 4],
    "react/jsx-indent": [true, 4]
  }
}
